
<div class="raw_materials">
<h1 class="text-center">Editing raw material</h1>
  <div class="container form-floating mb-3">
    <%= link_to "Back to raw materials", raw_materials_path, class:"btn btn-outline-success btn-sm" %>
    <%= link_to "Show this raw material", @raw_material, class:"btn btn-outline-success btn-sm" %>
  </div>
  <%= render "form", raw_material: @raw_material %>

</div>