<h1>Editing raw material</h1>

<%= render "form", raw_material: @raw_material %>

<br>

<div>
  <%= link_to "Show this raw material", @raw_material %> |
  <%= link_to "Back to raw materials", raw_materials_path %>
</div>
