<div class="col-12">
  <p style="color: green"><%= notice %></p>

  <div class="raw_materials mb-3" id="raw_materials">
    <h1 class="text-center">Raw materials Index</h1>
    <% @raw_materials.each do |raw_material| %>
      <%= render raw_material %>
      <%= link_to "Show this raw material", raw_material, class:"btn btn-outline-success btn-sm" %>
      <%= link_to "New raw material", new_raw_material_path, class:"btn btn-outline-success btn-sm" %>
    <% end %>
  </div>  
</div>

