<div class="container">
  <h1 class="text-center mt-3">New raw material</h1>
    <div class="container form-floating mb-3">
      <%= link_to "Back to raw materials", raw_materials_path, class:"btn btn-outline-success" %>
    </div>

  <div class="col">
      <%= render "form", raw_material: @raw_material %>
  </div>
</div>

