
<div class="raw_materials">
<h1 class="text-center">Modifier champs</h1>
  <div class="container form-floating mb-3">
    <%= link_to "Retour", table_employees_path, class:"btn btn-outline-success btn-sm" %>
    <%# <%= link_to "Show this raw material", @raw_material, class:"btn btn-outline-success btn-sm" %>
  </div>
  <%= render "form", table_employee: @table_employee %>

</div>