<div class="col-12">
  <div class="raw_materials mb-3" id="raw_materials">

    <p class="mt-3" style="color: green"><%= notice %></p>
    
    <form action="/table_employees" method="get" class="d-none d-sm-inline-block form-inline mr-auto ml-md-3 my-2 my-md-0 mw-100 navbar-search">
          <div class="input-group">
              <input type="text" name="nom" value="<%= params[:nom] %>" class="form-control bg-light border-0 small" placeholder="Search for..." aria-label="Search" aria-describedby="basic-addon2">
              <div class="input-group-append">
                  <button class="btn btn-outline-success" type="submit">
                      <i class="fas fa-search fa-sm"> </i>
                  </button>
              </div>
          </div>
      </form>
    <h1 class="text-center">Tableaux Compagnies</h1>
    
      <%= render 'table_employee' %>
      
      <%= link_to "Ajouter Compagnie", new_table_employee_path, class:"btn btn-outline-success btn-sm mb-3" %>
    
  </div>  
</div>
