<div class="raw_materials">
  <h1 class="text-center">Nouvelle Compagnie</h1>
    <div class="container form-floating mb-3">
      <%= link_to "Retour", table_employees_path, class:"btn btn-outline-success btn-sm" %>
    </div>

  <div class="col">
      <%= render "form", table_employee: @table_employee %>
  </div>
</div>

