<div id="<%= dom_id formulation %>">
  <p>
    <strong>Product name:</strong>
    <%= formulation.product_name %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= formulation.description %>
  </p>

</div>
