<h1>Editing formulation</h1>

<%= render "form", formulation: @formulation %>

<br>

<div>
  <%= link_to "Show this formulation", @formulation %> |
  <%= link_to "Back to formulations", formulations_path %>
</div>
