<h1>Editing formulation > <%= @formulation.product_name%></h1>

<%= render "form", formulation: @formulation %>

<br>

<div>
  <%= link_to "Show this formulation", @formulation, class:"btn btn-outline-success btn-sm" %> 
  <%= link_to "Back to formulations", formulations_path, class:"btn btn-outline-success btn-sm" %>
</div>
