<div class="raw_materials">
  <h1 class="text-center">New formulation</h1>
    <div class="container form-floating mb-3">
      <%= link_to "Back to formulations ", formulations_path, class:"btn btn-outline-success btn-sm" %>
    </div>

    <div class="col">
    <%= render "form", formulation: @formulation %>
    </div>
</div>
  <form id="new-user-form">
    <div>
      <label for="first_name">Project Name:</label>
      <input type="text" id="first_name" name="formulation[project_name]">
    </div>
    
    <div>
      <label for="last_name">Description:</label>
      <input type="text" id="last_name" name="formulation[description]">
    </div>
    
    <div>
      <button type="submit">Adicionar linha</button>
    </div>
  </form>

